<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <h2>
                Забыли пароль
            </h2>
            <%- include ("./messages") %>
            <form action="/auth/forgot" method="POST">
                <div class="form-group">
                    <label for="email">Почта</label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="Введите почту" />
                </div>
                <button type="submit" class="btn btn-primary btn-block">Отправить мне ссылку для восстановления пароля</button>
            </form>
            <p class="mt-4">
                Вспомнили пароль? <a href="/auth/login">Login</a>
            </p>
        </div>
    </div>
</div>