<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <h2>
                Авторизация
            </h2>
            <%- include ("./messages") %>
            <form action="/auth/login" method="POST">
                <div class="form-group">
                    <label for="email">Почта</label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="Введите почту" />
                </div>
                <div class="form-group">
                    <label for="password">Пароль</label>
                    <input type="password" id="password" name="password" class="form-control"
                        placeholder="Введите пароль" />
                </div>
                <button type="submit" class="btn btn-primary btn-block">Login</button>
            </form>
            <p class="mt-4">
                Смешарик? <a href="/auth/register">Регистрация</a>
            </p>
            <p>
                Забыли пароль? <a href="/auth/forgot">Восстановить</a>
            </p>
        </div>
    </div>
</div>