<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h2>
        Регистрация
      </h2>
      <%- include ("./messages") %>
      <form action="/auth/register" method="POST">
        <div class="form-group">
          <label for="name">Имя</label>
          <input type="name" id="name" name="name" class="form-control" placeholder="Введите имя"
            value="<%= typeof name != 'undefined' ? name : '' %>" />
        </div>
        <div class="form-group">
          <label for="email">Почта</label>
          <input type="email" id="email" name="email" class="form-control" placeholder="Введите почту"
            value="<%= typeof email != 'undefined' ? email : '' %>" />
        </div>
        <div class="form-group">
          <label for="password">Пароль</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Введите пароль"
            value="<%= typeof password != 'undefined' ? password : '' %>" />
        </div>
        <div class="form-group">
          <label for="password2">Подтвердите пароль</label>
          <input type="password" id="password2" name="password2" class="form-control" placeholder="Подтвердите пароль"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>" />
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          Регистрация
        </button>
      </form>
      <p class="mt-4">Уже есть аккаунт? <a href="/auth/login">Войти</a></p>
    </div>
  </div>
</div>