<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <h2>
                Восстановление пароля
            </h2>
            <%- include ("./messages") %>
            <form action="/auth/reset/<%= id %>"  method="POST">
                <div class="form-group">
                    <label for="password">Пароль</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password"
                      value="<%= typeof password != 'undefined' ? password : '' %>" />
                  </div>
                  <div class="form-group">
                    <label for="password2">Подтвердите пароль</label>
                    <input type="password" id="password2" name="password2" class="form-control" placeholder="Confirm Password"
                      value="<%= typeof password2 != 'undefined' ? password2 : '' %>" />
                  </div>
                <button type="submit" class="btn btn-primary btn-block">Сброс пароля</button>
            </form>
            <p class="mt-4">
                Вспомнили пароль? <a href="/auth/login">Login</a>
            </p>
        </div>
    </div>
</div>