<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <p>Войдите в аккаунт или зарегистрируйтесь</p>
            <a href="/auth/login" class="btn btn-primary btn-block">Войти</a>
            <a href="/auth/register" class="btn btn-secondary btn-block mb-2">Регистрация</a>
        </div>
    </div>
</div>